html{
  /* --light-primary-color   : #61dafb; */
  --light-primary-color   : rgb(67, 102, 102);
  --light-secondary-color : #c4cfcd;
  --light-tertiary-color  : #282c34;
  --light-background-color: rgb(216, 216, 216);
  --light-overlay-color   : #cccccc;

  --dark-primary-color    : #00FF7F;
  --dark-secondary-color  : #5ba381;
  --dark-tertiary-color   : #282c34;
  --dark-background-color : rgb(62, 62, 62);
  --dark-overlay-color    : #323935;

  --light-link-color : var(--light-primary-color);
  --light-visited-color : var(--light-tertiary-color);
  --dark-link-color : #b5ffda;
  --dark-visited-color : var(--dark-secondary-color) ;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  background-color: var(--light-background-color);
  font-size: 80%;
}

a, a:visited:hover{
  color : var(--light-link-color);
}

a:visited, a:hover{
  color : var(--light-visited-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
